In [5]:
from pycaret.regression import *

In [92]:
import pandas as pd
import numpy as np

In [216]:
df = pd.read_csv('../MachineHackElectronicPrice/Train.csv')
df_aggp = pd.read_csv('../MachineHackElectronicPrice/train_AGGp.csv')
df_nlp = pd.read_csv('../MachineHackElectronicPrice/train_NLP.csv')
df_topic = pd.read_csv('../MachineHackElectronicPrice/train_topic.csv')
df_embed = pd.read_csv('../MachineHackElectronicPrice/train_embedding.csv')

In [217]:
tf = pd.read_csv('../MachineHackElectronicPrice/Test.csv')
tf_aggp = pd.read_csv('../MachineHackElectronicPrice/test_AGGp.csv')
tf_nlp = pd.read_csv('../MachineHackElectronicPrice/test_NLP.csv')
tf_topic = pd.read_csv('../MachineHackElectronicPrice/test_topic.csv')
tf_embed = pd.read_csv('../MachineHackElectronicPrice/test_embedding.csv')

In [218]:
df = df.drop(['Model_Info','Additional_Description'] ,axis =1)
tf = tf.drop(['Model_Info','Additional_Description'] ,axis =1)

In [251]:
data = pd.concat([df,df_aggp,df_nlp,df_topic],axis=1)
tdata = pd.concat([tf,tf_aggp,tf_nlp,tf_topic],axis=1)

In [252]:
# df = pd.read_csv('featurewithtopics2f.csv')
# zf = pd.read_csv('featurewithtopics2testf.csv')

In [253]:
# df = df.drop(['Model_Info','Additional_Description', 'Unnamed: 0','text'] ,axis=1)
# zf = zf.drop(['Model_Info','Additional_Description', 'Unnamed: 0','text'] ,axis=1)

In [254]:
# df.columns

In [255]:
# ['Brand', 'Locality', 'City', 'State', 'Price', 'locality_mean',
#        'locality_median', 'locality_sum', 'city_mean', 'city_median',
#        'city_sum', 'state_mean', 'state_median', 'state_sum', 'brand_mean',
#        'brand_median', 'brand_sum', 'statePrice_median', 'statePrice_mean',
#        'statePrice_sum', 'cityPrice_median', 'cityPrice_mean', 'cityPrice_sum',
#        'localityPrice_median', 'localityPrice_mean', 'localityPrice_sum',
#        'scPrice_median', 'scPrice_mean', 'scPrice_sum', 'Model_Infolen',
#        'Additional_Descriptionlen', 'text', 'char_count', 'word_count',
#        'word_density', 'noun_count', 'verb_count', 'adj_count', 'adv_count',
#        'pron_count', 'article_text', '0', '1', '2', '3', '4', '5', '6', '7',
#        '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

# permuations of features sets

In [256]:
# data = pd.concat([df,df_aggp,df_nlp,df_topic],axis=1)

In [257]:
data.columns

Index(['Brand', 'Locality', 'City', 'State', 'Price', 'state_mean',
       'state_median', 'state_sum', 'brand_mean', 'brand_median', 'brand_sum',
       'statePrice_median', 'statePrice_mean', 'statePrice_sum',
       'Model_Infolen', 'Additional_Descriptionlen', 'char_count',
       'word_count', 'word_density', 'noun_count', 'verb_count', 'adj_count',
       'adv_count', '0_topic', '1_topic', '2_topic', '3_topic', '4_topic',
       '5_topic', '6_topic', '7_topic', '8_topic', '9_topic', '10_topic',
       '11_topic', '12_topic', '13_topic', '14_topic', '15_topic', '16_topic',
       '17_topic', '18_topic', '19_topic'],
      dtype='object')

In [258]:
df_aggp

,state_mean,state_median,state_sum,brand_mean,brand_median,brand_sum,statePrice_median,statePrice_mean,statePrice_sum
0,25613.621212,18000.0,6761996,27553.595887,20000,57614569,20000,28035.884615,6560397
1,25613.621212,18000.0,6761996,27553.595887,20000,57614569,20000,28035.884615,6560397
2,25613.621212,18000.0,6761996,27553.595887,20000,57614569,20000,28035.884615,6560397
3,25613.621212,18000.0,6761996,27553.595887,20000,57614569,20000,28035.884615,6560397
4,25613.621212,18000.0,6761996,27553.595887,20000,57614569,20000,28035.884615,6560397
...,...,...,...,...,...,...,...,...,...
2321,26910.384375,20000.0,8611323,11073.022222,7500,498286,7500,10399.888889,93599
2322,26910.384375,20000.0,8611323,11073.022222,7500,498286,7500,10399.888889,93599
2323,28538.170616,21000.0,6021554,11073.022222,7500,498286,2745,2745.000000,5490
2324,28538.170616,21000.0,6021554,11073.022222,7500,498286,2745,2745.000000,5490
2325,24842.639216,18500.0,6334873,11073.022222,7500,498286,3500,3500.000000,3500

In [259]:
data

,Brand,Locality,City,State,Price,state_mean,state_median,state_sum,brand_mean,brand_median,...,10_topic,11_topic,12_topic,13_topic,14_topic,15_topic,16_topic,17_topic,18_topic,19_topic
0,1,878,8,2,15000,25613.621212,18000.0,6761996,27553.595887,20000,...,0.375614,0.186018,0.002778,0.002778,0.002778,0.002778,0.002778,0.115351,0.002778,0.002778
1,1,1081,4,0,18800,25613.621212,18000.0,6761996,27553.595887,20000,...,0.003846,0.003846,0.003846,0.003846,0.003846,0.003846,0.003846,0.003846,0.003846,0.081488
2,1,495,11,4,50000,25613.621212,18000.0,6761996,27553.595887,20000,...,0.001163,0.001163,0.001163,0.001163,0.041302,0.001163,0.593183,0.001163,0.001163,0.001163
3,1,287,10,7,16500,25613.621212,18000.0,6761996,27553.595887,20000,...,0.270013,0.001250,0.001250,0.001250,0.162828,0.001250,0.001250,0.001250,0.001250,0.001250
4,1,342,4,0,26499,25613.621212,18000.0,6761996,27553.595887,20000,...,0.164639,0.001852,0.001852,0.001852,0.249198,0.001852,0.001852,0.001852,0.001852,0.112483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321,1,534,15,5,13500,26910.384375,20000.0,8611323,11073.022222,7500,...,0.000526,0.000526,0.000526,0.000526,0.000526,0.000526,0.000526,0.000526,0.000526,0.000526
2322,0,244,11,4,5000,26910.384375,20000.0,8611323,11073.022222,7500,...,0.001613,0.001613,0.001613,0.001613,0.001613,0.001613,0.001613,0.001613,0.040423,0.001613
2323,1,318,11,4,7500,28538.170616,21000.0,6021554,11073.022222,7500,...,0.002000,0.002000,0.002000,0.196018,0.002000,0.002000,0.479664,0.002000,0.002000,0.002000
2324,1,217,2,6,22000,28538.170616,21000.0,6021554,11073.022222,7500,...,0.000543,0.000543,0.000543,0.989674,0.000543,0.000543,0.000543,0.000543,0.000543,0.000543
2325,1,855,15,5,92000,24842.639216,18500.0,6334873,11073.022222,7500,...,0.003333,0.003333,0.003333,0.003333,0.618739,0.003333,0.003333,0.003333,0.003333,0.003333

In [260]:
# df['Price'] = np.log1p(df['Price'])
# predictions = np.expm1(predictions)

In [261]:
df['Price']

0       15000
1       18800
2       50000
3       16500
4       26499
        ...
2321    13500
2322     5000
2323     7500
2324    22000
2325    92000
Name: Price, Length: 2326, dtype: int64

In [262]:
obj = setup(data, target = "Price", session_id=123,transform_target=True,normalize = True,silent =True)

Setup Succesfully Completed!

In [263]:
blacklist = ['dt','et','lar','ada','par','knn','kr','omp','en','lr','lightgbm','llar','catboost','tr','ransac','svm']

Estimator	Abbreviated String
Linear Regression	‘lr’
Lasso Regression	‘lasso’
Ridge Regression	‘ridge’
Elastic Net	‘en’
Least Angle Regression	‘lar’
Lasso Least Angle Regression	‘llar’
Orthogonal Matching Pursuit	‘omp’
Bayesian Ridge	‘br’
Automatic Relevance Determination	‘ard’
Passive Aggressive Regressor	‘par’
Random Sample Consensus	‘ransac’
TheilSen Regressor	‘tr’
Huber Regressor	‘huber’
Kernel Ridge	‘kr’
Support Vector Machine	‘svm’
K Neighbors Regressor	‘knn’
Decision Tree	‘dt’
Random Forest	‘rf’
Extra Trees Regressor	‘et’
AdaBoost Regressor	‘ada’
Gradient Boosting Regressor	‘gbr’
Multi Level Perceptron	‘mlp’
Extreme Gradient Boosting	‘xgboost’
Light Gradient Boosting	‘lightgbm’
CatBoost Regressor	‘catboost’

In [264]:
compare_models(blacklist =blacklist ,sort = 'RMSLE',fold=5)

IntProgress(value=0, description='Processing: ', max=55)

Initiated  . . . . . . . . . . . . . . . . . .               07:14:11
Status     . . . . . . . . . . . . . . . . . .  Compiling Final Model
ETC        . . . . . . . . . . . . . . . . . .  0.0 Seconds Remaining

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE
0,Bayesian Ridge,12474.9300,3.600097e+08,18947.5008,0.2071,0.6933,0.7687
1,Ridge Regression,12560.3580,3.590543e+08,18919.4193,0.2097,0.6967,0.7791
2,Huber Regressor,12687.4627,3.681230e+08,19151.1948,0.1896,0.7000,0.7994
3,Lasso Regression,14515.1798,4.934822e+08,22171.5010,-0.0809,0.8400,0.9876

KeyboardInterrupt:

In [265]:
huber = create_model('huber')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     13040.4315  3.516865e+08  18753.3062  0.2583  0.7337  0.9511
1     13427.5710  4.290123e+08  20712.6113  0.2261  0.6984  0.6544
2     13038.2052  4.138000e+08  20342.0753  0.0572  0.7447  0.8704
3     12141.6340  2.824017e+08  16804.8105  0.3298  0.6521  0.6796
4     14490.1006  4.191943e+08  20474.2354  0.1923  0.7624  0.9353
5     12449.5913  4.321047e+08  20787.1274  0.1597  0.7084  0.8301
6     11465.8761  2.807731e+08  16756.2866  0.3640  0.5833  0.5738
7     12473.8997  4.737568e+08  21765.9545 -0.3611  0.7006  0.8607
8     11697.7934  2.592423e+08  16101.0028  0.2723  0.6240  0.5982
9     12513.5256  3.669836e+08  19156.8170  0.2399  0.7546  1.0062
Mean  12673.8628  3.708955e+08  19165.4227  0.1738  0.6962  0.7960
SD      833.3736  7.119134e+07   1892.6436  0.1961  0.0562  0.1485

In [267]:
tuned_huber = tune_model('huber')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12994.6762  3.479456e+08  18653.2993  0.2662  0.7320  0.9423
1     13402.2932  4.319384e+08  20783.1274  0.2208  0.7008  0.6564
2     13074.0803  4.109741e+08  20272.4951  0.0636  0.7438  0.8779
3     12025.5709  2.758434e+08  16608.5327  0.3453  0.6447  0.6769
4     14478.9215  4.108287e+08  20268.9098  0.2084  0.7673  0.9497
5     12159.1555  4.087202e+08  20216.8284  0.2052  0.7044  0.8137
6     11496.6001  2.812105e+08  16769.3308  0.3630  0.5834  0.5786
7     12484.5492  4.735823e+08  21761.9468 -0.3606  0.6990  0.8521
8     11621.5361  2.575791e+08  16049.2696  0.2770  0.6210  0.5897
9     12296.8286  3.517725e+08  18755.5991  0.2714  0.7483  0.9842
Mean  12603.4212  3.650395e+08  19013.9339  0.1860  0.6945  0.7921
SD      857.8381  7.026440e+07   1873.4392  0.1986  0.0569  0.1463

In [266]:
ridgr = create_model('ridge')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12900.2316  3.467385e+08  18620.9146  0.2687  0.7294  0.9277
1     13342.6359  4.245514e+08  20604.6462  0.2341  0.7001  0.6381
2     13090.4963  4.018954e+08  20047.3285  0.0843  0.7397  0.8628
3     11841.9487  2.722065e+08  16498.6806  0.3539  0.6391  0.6645
4     14362.4371  4.038522e+08  20096.0734  0.2218  0.7683  0.9379
5     12190.1693  4.185799e+08  20459.2261  0.1860  0.7077  0.8044
6     11573.2640  2.895579e+08  17016.3998  0.3441  0.5876  0.5728
7     12421.0731  4.470925e+08  21144.5630 -0.2845  0.6941  0.8253
8     11650.8262  2.647765e+08  16271.9531  0.2568  0.6238  0.5802
9     12169.2091  3.485818e+08  18670.3458  0.2780  0.7455  0.9657
Mean  12554.2291  3.617833e+08  18943.0131  0.1943  0.6935  0.7779
SD      829.6255  6.393247e+07   1716.2478  0.1755  0.0557  0.1439

In [268]:
tuned_ridge = tune_model('ridge')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12897.5480  3.466227e+08  18617.8049  0.2690  0.7294  0.9277
1     13344.5125  4.245047e+08  20603.5115  0.2342  0.7002  0.6383
2     13096.3569  4.018650e+08  20046.5716  0.0844  0.7400  0.8633
3     11843.4660  2.722069e+08  16498.6928  0.3539  0.6392  0.6645
4     14363.4933  4.039243e+08  20097.8692  0.2217  0.7682  0.9379
5     12213.1334  4.192251e+08  20474.9881  0.1847  0.7080  0.8053
6     11567.2911  2.893320e+08  17009.7623  0.3446  0.5874  0.5726
7     12417.9468  4.473811e+08  21151.3848 -0.2853  0.6941  0.8256
8     11655.1400  2.648143e+08  16273.1150  0.2567  0.6240  0.5805
9     12173.0880  3.485661e+08  18669.9261  0.2780  0.7457  0.9666
Mean  12557.1976  3.618442e+08  18944.3626  0.1942  0.6936  0.7782
SD      829.3037  6.404963e+07   1719.1125  0.1758  0.0557  0.1440

In [269]:
rf = create_model('rf')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12106.6155  3.055507e+08  17480.0091  0.3556  0.7174  0.8772
1     11682.0600  3.064749e+08  17506.4248  0.4471  0.6418  0.5603
2     11554.8283  3.290932e+08  18140.9252  0.2502  0.7182  0.8051
3     10310.3484  2.126259e+08  14581.6975  0.4954  0.6076  0.6303
4     13257.3692  3.250575e+08  18029.3517  0.3737  0.7649  0.9720
5     11235.8912  3.223935e+08  17955.3196  0.3730  0.6695  0.7072
6     10272.9377  2.043365e+08  14294.6323  0.5372  0.5884  0.5923
7     11009.1348  2.625340e+08  16202.9000  0.2458  0.6681  0.7870
8     10702.2963  2.226504e+08  14921.4735  0.3750  0.5955  0.5688
9     10826.9524  2.705319e+08  16447.8540  0.4397  0.6777  0.8094
Mean  11295.8434  2.761248e+08  16556.0588  0.3893  0.6649  0.7310
SD      860.0384  4.624829e+07   1421.8880  0.0899  0.0550  0.1340

In [270]:
# tuned_rf = tune_model('ridge')

In [271]:
xgb = create_model('xgboost')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12344.6907  2.930234e+08  17117.9277  0.3820  0.7080  0.9039
1     11676.8962  3.055107e+08  17478.8657  0.4489  0.6396  0.5694
2     11812.5430  3.322489e+08  18227.6955  0.2430  0.7257  0.8001
3     10609.6885  2.160821e+08  14699.7303  0.4872  0.6051  0.6265
4     13386.5119  3.404136e+08  18450.3005  0.3441  0.7531  0.9074
5     11920.4312  3.772396e+08  19422.6568  0.2664  0.6953  0.7848
6     11542.7987  2.437667e+08  15613.0297  0.4479  0.6061  0.6384
7     10871.6616  2.585664e+08  16080.0014  0.2572  0.6759  0.8300
8     11001.7298  2.249727e+08  14999.0904  0.3685  0.5977  0.5777
9     10897.2491  2.760712e+08  16615.3913  0.4282  0.6869  0.8389
Mean  11606.4201  2.867895e+08  16870.4689  0.3673  0.6694  0.7477
SD      791.5676  5.009581e+07   1475.4050  0.0835  0.0518  0.1251

In [272]:
ada = create_model('gbr')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12455.6069  3.055560e+08  17480.1615  0.3556  0.7129  0.9289
1     11627.8359  3.050781e+08  17466.4861  0.4497  0.6382  0.5561
2     11910.0721  3.279468e+08  18109.3011  0.2528  0.7270  0.8074
3     10672.9212  2.182067e+08  14771.8226  0.4821  0.6117  0.6289
4     13471.5398  3.443001e+08  18555.3259  0.3366  0.7608  0.9309
5     11837.3298  3.613700e+08  19009.7356  0.2972  0.6901  0.7644
6     11462.6426  2.479112e+08  15745.1968  0.4385  0.6237  0.6452
7     10531.3619  2.387604e+08  15451.8748  0.3141  0.6582  0.7778
8     10905.4146  2.203782e+08  14845.1397  0.3814  0.5904  0.5705
9     11187.1698  2.885585e+08  16987.0085  0.4023  0.6960  0.8661
Mean  11606.1895  2.858066e+08  16842.2053  0.3710  0.6709  0.7476
SD      840.2853  4.916925e+07   1465.1753  0.0695  0.0524  0.1334

In [273]:
lgb = create_model('lightgbm')

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     11915.4875  2.899919e+08  17029.1480  0.3884  0.7322  0.8755
1     11545.2371  3.041596e+08  17440.1733  0.4513  0.6545  0.5609
2     12212.4477  3.315786e+08  18209.2986  0.2445  0.7630  0.8364
3     11366.7104  2.460234e+08  15685.1316  0.4161  0.6398  0.6909
4     13780.4869  3.595074e+08  18960.6811  0.3073  0.7992  0.9992
5     11188.9746  2.930908e+08  17119.8941  0.4300  0.6628  0.6978
6     10954.7576  2.081754e+08  14428.2853  0.5285  0.6147  0.6707
7     11248.9445  2.791517e+08  16707.8326  0.1980  0.7016  0.9170
8     11615.0874  2.550366e+08  15969.8647  0.2841  0.6149  0.5944
9     11458.9629  2.814886e+08  16777.6212  0.4170  0.7070  0.9075
Mean  11728.7097  2.848204e+08  16832.7931  0.3665  0.6890  0.7750
SD      764.8233  4.067383e+07   1215.5105  0.0982  0.0594  0.1429

In [277]:
blend_specific = blend_models(estimator_list = [tuned_ridge,rf,xgb,ada] ,fold =5)

             MAE           MSE        RMSE      R2   RMSLE    MAPE
0     12153.0984  3.117238e+08  17655.7003  0.3949  0.6786  0.7453
1     11187.3543  2.730352e+08  16523.7772  0.3653  0.6609  0.7155
2     12422.0541  3.518769e+08  18758.3834  0.3202  0.7102  0.8244
3     11101.2474  2.534541e+08  15920.2415  0.3634  0.6445  0.7235
4     10863.5123  2.513728e+08  15854.7392  0.3990  0.6441  0.7116
Mean  11545.4533  2.882926e+08  16942.5683  0.3686  0.6677  0.7441
SD      621.0086  3.847486e+07   1114.4193  0.0283  0.0248  0.0418

In [278]:
# stack_1 = stack_models([tuned_huber,tuned_passive,tr_tuned], meta_model = tuned_ridge)

In [279]:
final = finalize_model(blend_specific)

In [280]:
# zf

In [281]:
# #save_model(model =final, model_name= 'final')
# z= load_model('final')

In [282]:
# saved_experiment = load_experiment('Experiment_123 6JUNE400')

In [283]:
# z

In [284]:
new_prediction2 = predict_model(final, data=tdata, round = 0)
new_prediction2.head()

,Brand,Locality,City,State,state_mean,state_median,state_sum,brand_mean,brand_median,brand_sum,...,11_topic,12_topic,13_topic,14_topic,15_topic,16_topic,17_topic,18_topic,19_topic,Label
0,1,570,11,4,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.055550,0.002632,0.002632,0.002632,0.002632,0.266163,0.055783,0.002632,0.002632,16549.0
1,1,762,8,2,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.002000,0.002000,0.002000,0.101856,0.002000,0.352942,0.002000,0.002000,0.002000,27994.0
2,1,60,13,5,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.152658,0.005556,15173.0
3,1,640,15,5,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.077102,0.002500,20986.0
4,1,816,2,6,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.001042,0.001042,0.104286,0.001042,0.001042,0.001042,0.027040,0.001042,0.001042,19003.0

In [285]:
new_prediction2

,Brand,Locality,City,State,state_mean,state_median,state_sum,brand_mean,brand_median,brand_sum,...,11_topic,12_topic,13_topic,14_topic,15_topic,16_topic,17_topic,18_topic,19_topic,Label
0,1,570,11,4,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.055550,0.002632,0.002632,0.002632,0.002632,0.266163,0.055783,0.002632,0.002632,16549.0
1,1,762,8,2,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.002000,0.002000,0.002000,0.101856,0.002000,0.352942,0.002000,0.002000,0.002000,27994.0
2,1,60,13,5,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.152658,0.005556,15173.0
3,1,640,15,5,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.002500,0.077102,0.002500,20986.0
4,1,816,2,6,19306.768939,15000.0,5096987,27553.595887,20000,57614569,...,0.001042,0.001042,0.104286,0.001042,0.001042,0.001042,0.027040,0.001042,0.001042,19003.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,1,796,4,0,27324.167464,20000.0,5710751,10374.011765,7500,881791,...,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,0.003125,18584.0
993,1,145,17,7,24842.639216,18500.0,6334873,10374.011765,7500,881791,...,0.001667,0.001667,0.001667,0.001667,0.001667,0.125109,0.001667,0.001667,0.001667,23056.0
994,0,352,13,5,24842.639216,18500.0,6334873,10374.011765,7500,881791,...,0.000595,0.020725,0.000595,0.013230,0.000595,0.632394,0.000595,0.000595,0.012525,8679.0
995,1,350,4,0,24842.639216,18500.0,6334873,10374.011765,7500,881791,...,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136,0.001136,0.024637,0.001136,19637.0
996,1,602,11,4,28538.170616,21000.0,6021554,10374.011765,7500,881791,...,0.002500,0.002500,0.057391,0.002500,0.002500,0.059600,0.002500,0.002500,0.002500,15658.0

In [286]:
sub = pd.read_excel('../MachineHackElectronicPrice/Sample_Submission.xlsx')

In [287]:
sub['Price'] = (new_prediction2['Label'])

In [288]:
sub

       Price
0    16549.0
1    27994.0
2    15173.0
3    20986.0
4    19003.0
..       ...
992  18584.0
993  23056.0
994   8679.0
995  19637.0
996  15658.0

[997 rows x 1 columns]

In [289]:
sub.to_excel('withoutbert.xlsx')